
$color-principal: #02c9b4
$color-principal-2: #00c1bc
$blanco: #ffffff
$gris-1: #f1f1f1
$gris-2: #929497
$gris-3: #797a7a
$gris-4: #20222b
$gris-4-alfa: rgba(32, 34, 43, 0.9)
$gris-4-alfa-2: rgba(32, 34, 43, 0.5)
$negro: #212121


$grisOscuro: #212121
$grisMedio: #777
$grisClaro: #eee

$topBar: #00b56f

$alfaCover: rgba(0,130,142,0.4)

$negroAlfa: rgba(0,0,0,0.8)

$naranja: #eb5200
$naranja-oscuro: #cb4904

$verde: #049a01
$verdeAlfa: rgba(4,154,1,0.8)
$verdeOscuro: #027b00
$verdeOscuroAlfa: rgba(2,123,0,0.8)
$verdeLogo: #00b56f
$verdeLogoAlfa: rgba(0,181,111,0.8)
$verdeLogoAlfa2: rgba(0,181,111,0.4)

$celeste: #0096c5
$celesteOscuro: #00828e
$celesteLogo: #00b3eb
$celesteLogoAlfa: rgba(0,179,235,1)

$morado: #5c006f
$moradoAlfa: rgba(92,0,111,0.8)
